<div class="blocking">

<div class="row">

<div class="col-md-12  d-flex justify-content-center mt-5">


    <h1>About Idaweather.com</h1>

</div>

</div>


<div class="row mt-5">
    <div class="col d-flex justify-content-center mt-5">
        The Idaweather.com dataset was provided by oikolab.com. 

    </div>



</div>

<div class="row mt-2">
     <div class="col d-flex justify-content-center mt-5">
        Contact: kerrcoenterprises@gmail.com

    </div>
</div>








</div>