
<div class="row">
<div class="col-12 d-flex justify-content-center mt-5">
<h1>Welcome to IdaWeather</h1>
</div>
</div>


<div class="row mt-5 ">
<div class="col-6">
<%= image_tag 'weather-1.jpg', width: '100%' %>
</div>

<div class="col-6">
<h2>Create Historical Weather Studies</h2>
<p>
Our historical weather database contains hourly data on 21 locations in Idaho and spans 1950-2022.
</p>

<p>
Create statistical studies composed of graphs that examine features through time periods of interest. 
</p>


</div>

</div>

<div class="row mt-5 ">
  <div class="col-6">
<h2>Features Available in the Dataset</h2>
<p>Our dataset contains 27 different features,
ranging from temperature and pressure to sub-surface soil temperature and moisture levels.
</p>
<ol class="list-group  mt-5">
  <li class="list-group-item">Temperature, Dewpoint Temperature</li>
  <li class="list-group-item">Soil Temperature Level 1-4</li>
  <li class="list-group-item">Volumetric Soil Water Layer 1-4</li>
  <li class="list-group-item">Surface [Thermal, Solar, Diffuse] Radiation</li>
  <li class="list-group-item">Relative Humidity</li>
  <li class="list-group-item">Surface Pressure, Sea Level Pressure</li>

  <li class="list-group-item">Total Cloud Cover</li>
  <li class="list-group-item">Total Precipitation </li>
  <li class="list-group-item">Snowfall, Snow Depth, Snow Density</li>

  <li class="list-group-item">Wind Speed, Direction, 10m Gust, 100m Speed & Direction</li>

</ol>



 Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
  </div>

  <div class="col-6">
<%= image_tag 'weather-2.jpg', width: '100%' %>
  </div>



</div>

<div class="row mt-5">
  <div class="col-6">
 Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
  </div>

    <div class="col-6">
 Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
  </div>

</div>