<div class="blocking">
<div id="hero">
<div class="row">
<div class="col-12 d-flex justify-content-center mt-5">


<h1 style="margin-bottom: 5rem">Welcome to IdaWeather</h1>
</div>
</div>

</div>



<div class="row mt-3 ">

<div class="col-md-6">
<%= image_tag 'weather-1.jpg', width: '100%' %>
</div>

<div class="col-md-6 mt-4">
<h2>Create Historical Weather Studies</h2>



<div class="mt-4">

<i class="fa-solid fa-magnifying-glass-chart  fa-2xl"></i> Query and run statistics on 13,479,035 weather records.

</div>
<div class="mt-4">

<i class="fa-solid fa-book fa-2xl"></i> Records on 21 locations in Idaho available for every hour (1950-2022)

</div>

<div class="mt-4">

<i class="fa-solid fa-chart-simple fa-2xl"></i> 27 different features, including soil moisture/temperature, solar radiation etc.

</div>


<div class="mt-4">
<i class="fa-solid fa-location-crosshairs fa-2xl"></i> Buhl, Burley, Caldwell, Cour d'Alene, Emmett, Gannet, Gooding, Grangeville, Idaho Falls, Ketchum, Minidoka, Moscow, Mountain Home, Mountains West of Jackpot, Murtaugh, Oakley, Payette, Pike Mountain, Pocatello, Salmon, and Twin Falls.
</div>

</div>

</div>


<div class="row mt-5 ">

  <div class="col-md-6">
<h2>27 Features Available in the Dataset</h2>
<p>The IdaWeather dataset contains 27 different features,
ranging from temperature, pressure, and solar radiation to sub-surface soil temperature and moisture levels.
</p>

<p style="color: red">Note: All values are in metric<p>

<b class=" d-flex justify-content-center mt-5">Features</b>
<ol class="list-group  mt-2">
  <li class="list-group-item">Temperature, Dewpoint Temperature (*C)</li>
  <li class="list-group-item">Soil Temperature Layer 1-4 (*C)</li>
  <li class="list-group-item">Volumetric Soil Water Layer 1-4 (%)</li>
  <li class="list-group-item">Surface [Thermal, Solar, Diffuse] Radiation (W/m^2)</li>
  <li class="list-group-item">Relative Humidity (%)</li>
  <li class="list-group-item">Surface Pressure, Sea Level Pressure (Pascals)</li>

  <li class="list-group-item">Total Cloud Cover (%)</li>
  <li class="list-group-item">Total Precipitation (mm)</li>
  <li class="list-group-item">Snowfall, Snow Depth, Snow Density (mm)</li>

  <li class="list-group-item">Wind Speed, Direction, 10m Gust, 100m Speed & Direction (m/s)</li>

</ol>


<div class="mt-5">
<p>
<b class=" d-flex justify-content-center mt-5">Layer depths (for Soil Temperature and Moisture)</b>
</p>
<ul class="list-group">
  <li class="list-group-item">Layer 1 (0 - 7cm) - (0 - 2.75 inches)</li>
  <li class="list-group-item">Layer 2 (7 - 28cm) - (2.75 - 11 inches)</li>
  <li class="list-group-item">Layer 3 (28 - 100cm) - (11 - 39.4 inches)</li>
  <li class="list-group-item">Layer 4 (100 - 289cm) - (39.4 - 113.4 inches)</li>
</ul>
</div>

</div>

  <div class="col-md-6">
<%= image_tag 'weather-2.jpg', width: '100%' %>
  </div>

</div>




<div class="row mt-5">
  <div class="col-6">

</div>

    <div class="col-6">

</div>

<div class="row mb-5">


</div>

</div>

