
<div id="<%= dom_id study %>">
  <div class="row">
      <div class="col-md-4">
           

  
        <%= 
        coords = JSON.parse(study.graphs.first.coords)
        @foo = Vega.lite
          .data(coords)
          .mark(type: study.graphs.first.chart_type, tooltip: true)
          .encoding(
            x: {field: "x", type: "nominal"},
            y: {field: "y", type: "quantitative"}
          )
          .height("container")
          .width("container")
        %>
    </div>



  <div class="col-md-8">

      <h3>      <%= link_to study.name, study %></h3>

      <%= study.description %>

  </div>

</div>



</div>
