
<div id="<%= dom_id study %>">
  <div class="row">
      <div class="col-md-4">
           

  
        <%= 
          if study.graphs.present?

          coords = JSON.parse(study.graphs.first.coords)
          chart_type = study.graphs.first.chart_type

        else
          coords =  [{x: 1, y:2}, {x:2, y:5}, {x:3, y:7}]
          chart_type = "bar"
        end
        
        @foo = Vega.lite
          .data(coords)
          .mark(type: chart_type, tooltip: true)
          .encoding(
            x: {field: "x", type: "nominal"},
            y: {field: "y", type: "quantitative"}
          )
          .height("container")
          .width("container")
        %>
    </div>



  <div class="col-md-8">

      <h3>      <%= link_to study.name, study %></h3>

      <%= study.description %>

  </div>

</div>



</div>
