<div class="blocking">
<div class="row">
<div class="col d-flex justify-content-center mb-5">
<h1>Studies</h1>

</div>
<%= link_to "New study", new_study_path %>

<div id="studies">
  <% @studies.each do |study| %>
    <div class="row mt-5">
    <%= render study %>


    </div>
  <% end %>
</div>

</div>