<div class="blocking">

<div class="row">
<div class="col-12">
<h1>New study</h1>

<%= render "form", study: @study %>

<br>
</div>
</div>





<div>
  <%= link_to "Back to studies", studies_path %>
</div>
</div>
